*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    text-decoration: none;
}

/* Colores Alma Argentina Reposteria */
:root {
    --letra: #c97c5d;
    --fondo1: #b36a56;
    --fondo2: #f8c49c;
    --fondo3: #f3cfb4;
    --fondo4: linear-gradient(120deg, #eed7c5 0%, #b36a56 100%);
    --fondo-footer: dimgray;
    --font-family: 'Dancing Script', cursive;
}
html{
    height: 100%;
}
body {
    min-height: 100%;
    background-color: var(--fondo3);
    transition:  background-color #000 6s;
}
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header1 {
    display: flex;
    justify-items: center;
    justify-content: left;
    align-items: center;
    background-color: var(--fondo3);
    overflow: hidden;
    transition: transform 1s ease;
}

.texto_empresa{
    color: var(--letra);
    font-size: 6vw;
    padding: 0 20px;
    font-family: var(--font-family);
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.596));
    transition: transform 1s ease;
}
.logo{
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.596));
    transition: transform 1s ease;
}

.navbar {
    background: var(--fondo2); /* comentado para probar gradiente  var(--fondo4);*/
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-size: 20px;
    grid-area: navbar;
    display: flex;
    align-items: center;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.navbar i {
    font-size: 20px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-link {
    color: #000;
    font-weight: 300;
    padding:0 10px 0 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: color 2s;
}

.navbar-link:hover{
    background-color: var(--letra);
    color: #fff;
}

@media (max-width: 680px) {
    .navbar ul {
        background: var(--fondo3);
        border-radius: 12px;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        transition: display 2s;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }
}
.aside{
    grid-area: aside;
    float:right;
    background-color: #c97c5d ;/*rgba(230, 192, 65, 0.767);*/
    color: white;
    overflow: auto;
    padding: 1%;
    border-radius: 12px;
}
.aside::-webkit-scrollbar{
    width: 2px;
    background-color: var(--fondo1);
    border-radius: 7px;
}
.aside p{
    margin-top: 10px;
}

.footer{
    grid-area: footer;
    background-color: var(--fondo-footer);
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}
.redsocial{
    align-items: center;
    margin: 20px 15px 0px 15px;
} 

/*---------- estilo de la pagina Nosotros ----------*/
.contenedor-nosotros{
    display: grid;
    gap:5px;
    text-align: center;
    padding: 10px;
    /* font-size:15%; */
    grid-template-columns: auto;
    grid-template-rows: auto;/*200px 30px 250px 180px 100px;*/
    grid-template-areas:
    "historia"
    "historia1"
    "pastelero"
    "salon"
    "admin"
    "gral";
}

    #pastelero{
        grid-area: pastelero;
    }
    #salon{
        grid-area: salon;
    }    
    #admin{
        grid-area: admin;
    }
    #gral{
        grid-area: gral;
    }
    .span-nosotros{
        font-size: 3vw;
    }

    .item1{
        grid-area: historia;
        background-color: whitesmoke;
        margin: 10px;
        border-radius: 12px;
        text-align: center;
        padding: 10px;
    }
    .item2{
        grid-area: historia1;
        background-color: whitesmoke;
        text-align: center;
        margin: -25px 10px 10px 10px;
        padding-top: 10px;
        border-radius: 12px;
    }
    .item2 p{
        font-size: 2.5vw;
    }
    .item3{
        background-color: whitesmoke;
        margin: 10px;
        border-radius: 12px;
        text-align:center;
        padding: 10px;
    }
    .item3 img{
        border-radius: 50%;
        border: solid;
    }

    .nuevo-titulo span{
        margin-top: -250px;
        display: block;
        font-family: var(--font-family);
        white-space: nowrap;
        border-right: 2px solid;
        width: 12ch;
        font-size: 5rem;
        animation: typing 5s steps(15) infinite;
        overflow: hidden;
        transition: margin-left 3s;
        filter: drop-shadow(10px 15px 15px rgb(248, 183, 2));
    }
    @keyframes typing{
        from{width: 0}
    }
    .tapa-nav{
        width: 100%;
        height: 30px;
        transform: translateX(2300px);
        text-align: end;
        background-color: #000;
        color: rgb(252, 207, 11);
        transition: transform 2s;
    }
    .totem1{
        width: 1px;
        margin-left: -1650px;
        transition: scale 4s, transform 2s ease-out;
        z-index: 1;
    }
    .totem2{
        width: 1px;
        scale: 1%;
        transition: scale 4s, transform 2s ease-out;
        z-index: 1;
    }
    .totem3{
        width: 1px;
        scale: 1%;
        margin-left: 1350px;
        transition: scale 4s, transform 2s ease-out;
        z-index: 1;
    }
    .totem4{
        width: 1px;
        scale: 1%;
        margin-left: -1350px;
        transition: scale 4s, transform 2s ease-out;
        z-index: 1;
    }
/*---------- Fin estilo de la pagina Nosotros ----------*/


@media(min-width:680px){
    .para-cambiar{
        transition: background-color 1s;
        overflow: hidden;
    }
    .para-cambiar:hover{
        background-color: #000;
        transition: background-color 8s;
    }
    .para-cambiar:hover .header1{
        background-color: #000;
        transition: background-color 8s;
    }
    .para-cambiar:hover .logo{
        transform: translateX(2000px);
        transition: transform 8s ease;
    }
    .para-cambiar:hover .texto_empresa{
        transform: translateY(-200px);
        transition: transform 8s ease;
    }
    .para-cambiar:hover .nuevo-titulo span{ /* ******************************************/
        color: rgb(255, 212, 23);
        transform: translateY(150px);
        transition: transform 8s ease;
        z-index: 1;
    }
    .para-cambiar:hover .totem1{
        transform: translateY(10px) translateX(20px);
        width: 5px;
        scale: 1500%;
        transition: transform 8s ease-out;
    }
    .para-cambiar:hover .totem2{
        transform: translateY(18px) translateX(-35px);
        width: 5px;
        scale: 1500%;
        transition: transform 8s ease;
        transition: scale 10s;
    }
    .para-cambiar:hover .totem3{
        transform: translateY(24px) translateX(-80px);
        width: 5px;
        scale: 1500%;
        transition: transform 8s ease-in-out;
        transition: scale 6s;
    }
    .para-cambiar:hover .totem4{
        transform: translateY(31px) translateX(10px);
        width: 5px;
        scale: 1500%;
        transition: transform 8s ease-in-out;
        transition: scale 6s;
    }
    .para-cambiar:hover .contenedor-nosotros{
        height: 550px;
        overflow: hidden;
    }
    .para-cambiar:hover .tapa-nav{
        padding-right: 200px;
        transform: translateX(-3000px);
        transform: translateY(28px);
        transition: transform 8s ease-out;
    }
    .para-cambiar:hover .item1{
        transform: translate(-2000px, -28px);
        transition: transform 8s ease;
    }
    .para-cambiar:hover .item2{
        background-color: #000;
        transition: background-color 8s;
    }
    .para-cambiar:hover .nosFondo{
        transform: translateX(2000px);
        transition: transform 8s ease;        
    }


    .navbar{
        background-image: var(--fondo4);
        justify-content: end; /*para que los textos del nav se vayan al fondo*/
        height: 25px;
        border-radius: 12px;
        padding-right: 20px;
        padding-top: 10px;
        font-size: 1.4vw;
    }   
}
/*@media(min-width:900px){
    .header1{
        max-height: 120px;
    }
    .item2{
        margin: 10px;
    }
    .span-nosotros{
        font-size: 3vw;
    }
    .item2 p{
        font-size: 2vw;
    }
    .contenedor-nosotros{
        font-size:100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "historia historia historia"
        "historia1 historia1 historia1"
        "pastelero . salon"
        "admin . gral";
    }
    .container {
        width: 650px;
    }
}

@media(min-width:1200px){
 
    .grid-container-nosotros{
        display: grid;
        font-size:100%;
        grid-template-rows:170px 35px auto 90px;
        grid-template-areas:
        "header"
        "navbar"
        "."
        "footer";
    }
    .contenedor-nosotros{
        font-size:100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "historia historia historia"
        "historia1 pastelero salon"
        "historia1 admin gral";

    }
} */
